/* Credit card animation */
.card:hover,
.card.flip {
  transform: rotateY(180deg):
}
.card_front.
.card_back{
  transform-style: preserve-3d;
  max-width: 420px;
  background: linear-gradient
    (to right bottom, #323941, #061018);
  box-shadow: 0 33px 50px
    -15´x rgba(50,55,63,.66);
  overflow: hidden;
  backface-visibility: hidden;
}
